@using System.Data
@using ClientserachUtiliy.Models
@model DataSet


@{
    DataSet _dsDataHolding = Model != null ? Model : new DataSet();

    DataTable _dtListHoliding = _dsDataHolding.Tables[0] != null ? _dsDataHolding.Tables[0] : new DataTable();
    DataTable _dtListHoliding1 = _dsDataHolding.Tables[1] != null ? _dsDataHolding.Tables[1] : new DataTable();



}
<link href="~/Content/TableCss.css" rel="stylesheet" />
<div id="border">
    <div class="row">
        <label>CBOS HOLDING</label>
        <div class="col-md-12 col-sm-12">
            <div id="divSPReport" style="overflow: auto;width: 100%;">
                @if (_dtListHoliding != null && _dtListHoliding.Rows.Count > 0)
                {

                    <table class="table table-bordered table-responsive-sm table-striped table-hover" id="ListTable">
                        <thead style="background: #f19668" class="text-center m-4">
                            <tr>
                                @{
                                    var Count = _dtListHoliding.Columns.Count;
                                }
                                @for (int i = 0; i < Count; i++)
                                {
                                    <th>@_dtListHoliding.Columns[i].ColumnName</th>

                                }

                            </tr>
                        </thead>
                        <tbody>



                            @for (int j = 0; j < _dtListHoliding.Rows.Count; j++)
                            {
                                <tr>
                                    @for (int k = 0; k < _dtListHoliding.Columns.Count; k++)
                                    {

                                        <td>@_dtListHoliding.Rows[j][k]</td>

                                    }
                                </tr>
                            }



                        </tbody>
                    </table>

                }

                else
                {
                    <h2 style="text-align: center; padding: 2px;">No Records</h2>
                }
            </div>
        </div>
    </div>
</div>
    

<div id="border">
    <div class="row">
        <label>DION HOLIDING</label>
        <div class="col-md-12 col-sm-12">
            <div id="divSPReport" style="overflow: auto;width: 100%;">
                @if (_dtListHoliding1 != null && _dtListHoliding1.Rows.Count > 0)
                {
                    <table class="table table-bordered table-responsive-sm table-striped table-hover" id="ListTable">
                        <thead style="background: #f19668" class="text-center m-4">
                            <tr>
                                @{
                                    var Count1 = _dtListHoliding1.Columns.Count;
                                }
                                @for (int i = 0; i < Count1; i++)
                                {
                                    <th>@_dtListHoliding1.Columns[i].ColumnName</th>

                                }

                            </tr>
                        </thead>
                        <tbody>



                            @for (int j = 0; j < _dtListHoliding1.Rows.Count; j++)
                            {
                                <tr>
                                    @for (int k = 0; k < _dtListHoliding1.Columns.Count; k++)
                                    {

                                        <td>@_dtListHoliding1.Rows[j][k]</td>

                                    }
                                </tr>
                            }




                        </tbody>
                    </table>

                }

                else
                {
                    <h2 style="text-align: center; padding: 2px;">No Records</h2>
                }
            </div>
        </div>
    </div>
</div>

