
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SessionExpired</title>
    <script type="text/javascript">
        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = DisableBackButton;
    </script>
</head>
<body>
    <div class="container-fluid bg-light">

        <div class="" id="myNavbar">
            <div class="logos " style="text-align:center;" href="#">
                <img src="~/Content/IMG/Sessio_out.png" style="width: 130px; padding: 5px 0;" />
                
            </div>
        </div>
    </div>
    <div class="container" style="text-align:center;">
        <h2>Your session has expired!</h2>
        <h3><a href="@Url.Action("Login","Home")" style="color:orange;">Click Here</a> to Login</h3>
    </div>
</body>
</html>
